$gray: #0000000D;
$lightGray: #0000004D;
$darkGray: #BBBBBB;
$darkGray-2: #7D7D7D;
$black: #000000;
$blueBtn: #3F9CFF;
$white: #fff;
$lightRed: #F92525;
$techforest: linear-gradient(to top, #3a2bdc, #4d2fdf, #5c34e1, #6a39e4, #763ee7, #8242ea, #8e46ec, #994bef, #a750f2, #b554f4, #c25af7, #cf5ff9);