body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins-Regular";
  color: #000000;
  font-size: 15px;
  background-color: #fff;
}

* {
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.container {
  width: 100%;
  max-width: 1550px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.logo span {
  font-family: 'Gilroy-ExtraBold';
  font-size: 24px;
  margin-left: 8px;
}

.btn {
  background: #3F9CFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

.border-r {
  border-radius: 3px;
}

.border-s {
  border: 0.5px solid #BBBBBB;
}

.product {
  margin-top: 26px;
  width: 100%;
  max-width: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 15px 14px 15px;
  font-family: "Poppins-SemiBold";
  font-size: 16px;
}

.product__sale, .product__soldout {
  font-family: "Poppins-Medium";
  position: absolute;
  top: -8px;
  left: 0;
  font-size: 14px;
  width: 47px;
  height: 23px;
  text-align: center;
  line-height: 23px;
  background: #F92525;
  color: #fff;
}

.product__soldout {
  width: 75px;
}

.product__img {
  position: relative;
  height: 230px;
}

.product__img img {
  width: 100%;
}

.product__price .product-sale {
  font-size: 12px;
  color: #0000004D;
}

.product__rate {
  margin-top: 48px;
}

.product__rate i {
  color: #F92525;
  font-size: 13px;
}

.product__name {
  letter-spacing: 0.24px;
  margin-top: 8px;
}

.product--margin {
  margin: 0;
}

.products-block {
  padding: 11px 16px 18px 16px;
  margin-bottom: 24px;
}

.products-block__title {
  font-family: "Poppins-Medium";
  font-size: 16px;
  text-transform: uppercase;
}

.products-block__title--filter {
  margin-bottom: 11px;
  display: block;
}

.products-block .products-block-list {
  border-top: 1px solid #BBBBBB;
  padding-top: 20px;
  margin-top: 11px;
}

.products-block .products-block-list__item {
  font-size: 14px;
  margin-bottom: 13px;
}

.products-block .products-block-list__item a {
  color: #000000;
}

.products-block .products-block-list__item i {
  font-size: 12px;
  margin-right: 16px;
}

.products-block .products-block-list__item:last-child {
  margin-bottom: 0;
}

.products-block:last-child {
  margin-bottom: 0;
}

.products-block--filter {
  padding: 0;
}

.products-block--filter .products-list__item {
  margin-bottom: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products-block--filter .products-list__item .products-color {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  margin-right: 8px;
}

.products-block--filter .products-list__item .products-color--red {
  background: #FF0100;
}

.products-block--filter .products-list__item .products-color--black {
  background: #000000;
}

.products-block--filter .products-list__item .products-color--blue {
  background: #4516EE;
}

.products-block--filter .products-list__item .products-color--white {
  background: #fff;
  border: 0.5px solid #BBBBBB;
}

.products-block--filter .products-list__item:last-child {
  margin-bottom: 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 91px;
}

.pagination__container {
  width: 100%;
  max-width: 209px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination__left, .pagination__right {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #EFEFEF;
  background: #fff;
  color: #000000;
  cursor: pointer;
}

.pagination .list {
  width: 100%;
  max-width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 29px;
}

.pagination .list__item a {
  color: #000000;
  font-size: 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.pagination .list__item a:hover {
  color: #3F9CFF;
  font-size: 14px;
}

.cart-hover {
  position: absolute;
  top: 120%;
  right: 0;
  background: #fff;
  width: 360px;
  padding: 27px 30px 29px 30px;
  -webkit-box-shadow: 3px 3px 15px #00000012;
          box-shadow: 3px 3px 15px #00000012;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
  cursor: context-menu;
}

.cart-hover__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 26px;
}

.cart-hover__block:last-child {
  margin-bottom: 33px;
}

.cart-hover__image {
  width: 60px;
  height: 60px;
  border: 1px solid #EFEFEF;
  margin-right: 9px;
}

.cart-hover__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.cart-hover__info {
  width: 100%;
  max-width: 158px;
}

.cart-hover__title {
  font-size: 14px;
}

.cart-hover__quantity-container {
  font-family: "Poppins-Medium";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 102px;
  font-size: 12px;
  color: #7D7D7D;
}

.cart-hover__delete {
  width: 10px;
  height: 10px;
  cursor: pointer;
  margin-left: 59px;
}

.cart-hover__btn {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  line-height: 25px;
}

.slider-block__title {
  font-size: 16px;
  font-family: "Poppins-Medium";
}

.slider-block .slider-block-slider {
  margin-top: 23px;
  position: relative;
}

.slider-block .slider-block-slider .owl-nav {
  position: absolute;
  top: -57px;
  right: 0;
  margin: 0;
}

.slider-block .slider-block-slider .owl-nav button {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #EFEFEF;
  background: #fff;
  color: #000000;
  cursor: pointer;
}

.slider-block .slider-block-slider .owl-nav button i {
  font-size: 12px;
}

.slider-block .slider-block-slider .owl-nav button:hover {
  background: #fff;
  color: #000000;
}
/*# sourceMappingURL=other-styles.css.map */